* {
    margin: 0;
    padding: 0;

}


.pai {
 width: 200px;
 height: 200px;
 
 background-color: crimson;
 /* 
 position: fixed; -> A POSIÇÃO
 PEGA COMO REFERÊNCIA O VIEWPORT 
 */
 
 /*
 margin-top: 20vh;
 position: sticky;
 top: 0; 
 */
 position: relative;
 margin-top: 20vh;
 /* left: 50px;
 bottom: 50px; */
}

.filho {
    position: absolute;
    left: 300px;
    width: 100px;
    height: 100px;
    background-color: teal;
}